/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01.08.2018, 14:04:24
    Author     : Denis
*/

body {
    padding-top: 80px;
    padding-bottom: 40px;
}