{# empty Twig template #}
<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <title>Codecourse</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ base_url }}/css/app.css">
    </head>
    <body>
        {% include 'teamplates/partials/navigation.twig' %}
        <div class="container">
            {% include 'teamplates/partials/flash.twig' %}
            {% block content %}{% endblock %}
        </div>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </body>
</html>